.cardView_normal {
    background-image: url('../assets/wood.jpg');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;


}
.cardView_img {
width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

