.cardView_img {
    background-color: var(--card-normal);
    width: 150px;
    height: 150px;
}
.cardView_show {
    background-color: var(--card-show);
}

.cardView_discovered {
    background-color: var(--card-discovered);
}