.creditsTittle {
    font-family: 'Jomhuria', serif;
    font-size: 70px;
    color: var(--secondary-color);
}

.creditsSubtittle {
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
}

.mainCreditsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.creditsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}