:root {
    --primary-color: #263238;
    --secondary-color: #f50057;
    --navbar-height: 60px;
    --bacground-color: rgb(205, 205, 205);
}

.navbarController {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--secondary-color);
    position: fixed;
}