.navbarController {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--primary-color);
    position: fixed;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.navbarController_backBtn {
    position: fixed;

    height: var(--navbar-height);

    display: flex;
    justify-content: center;
    align-items: center;

    user-select: none;
    cursor: pointer;

    font-size: 30px;
    color: white;

}

.gameTittle {
    font-size: 35px;
    color: var(--background-color);
}