.playController_hudContainer {
    /* height: cal(30% -var(--navbar-height)); */
        display: flex;
        align-content: center;
            justify-content: space-around;
            width: 100%;
            height: 60px;
        }
        
        .playController_hudContainer2 {
            display: flex;
            justify-content: space-around;
            text-align: center;
            width: 100%;
        }
        
        .playController_mainHudContainer {
            width: 100%;
            height: cal(30% -var(--navbar-height));
            display: flex;
            align-content: center;
            justify-content: center;
            flex-direction: column;/
            }
            
            .playController_cardsLbl {
                width: 50%;
                font-size: 30px;
                color: var(--secondary-color);
            }
            
            .playController_movesLbl {
            
                width: 50%;
                font-size: 30px;
                color: var(--secondary-color);
            }
            
            .playController_timeLbl {
                font-size: 40px;
                color: var(--secondary-color);
            }
            
            .playController_playLbl {
                font-size: 60px;
                color: var(--secondary-color);
}

.playController_divTittle {
    display: flex;
    align-content: center;
    justify-content: center;
}
.playController_cardsLbl {

    width: 30px;
    font-size: 30px;
}

.playController_resetBtn {
    width: 30px;
    font-size: 30px;
}

.playController_movesLbl {
    width: 30px;
    font-size: 30px;
}

.playController_playLbl {
    width: 30px;
    font-size: 50px;
}

.playController_timeLbl {
    width: 30px;
    font-size: 30px;
}

.playController_cardsContainer {
    /* margin-top: -340px; */
        display: flex;
        align-content: center;
        justify-content: space-around;
        flex-wrap: wrap;
    width: 90%;
    
}