.playController_hudContainer {

    display: flex;
    align-content: center;
    justify-content: space-between;
    width: 90%;
    /* height: 60px; */
    margin-bottom: 15px;

}

.playController_hudContainer2 {


    display: flex;
    justify-content: end;
    /* text-align: right; */
    width: 90%;
    margin-bottom: 15px;
}

.playController_elementContainer {

    margin-bottom: -90px;
    width: 100%;
    height: cal(100% -var(--navbar-height));
    display: flex;
    align-content: center;
    justify-content: start;
    flex-direction: column;
}

.playController_cardsLbl {
    width: 50%;
    font-size: 30px;
    color: var(--secondary-color);
}

.playController_movesLbl {

    font-size: 20px;
    color: var(--secondary-color);

}

.playController_timeLbl {
    font-size: 20px;
    color: var(--secondary-color);
}

.playController_playLbl {
    font-size: 60px;
    color: var(--secondary-color);
}

.playController_divTittle {
    display: flex;
    align-content: center;
    justify-content: center;
}

.playController_cardsLbl {

    width: 30px;
    font-size: 30px;
}

.playController_resetBtn {
    width: 30px;
    font-size: 30px;
}

.playController_movesLbl {
    /* width: 30px; */
    font-size: 25px;
}

.playController_playLbl {
    width: 30px;
    font-size: 50px;
}

.playController_timeLbl {
    /* width: 0px; */
    font-size: 25px;
}

.playController_cardsContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;

}