.scoreController_scoreLbl {
    font-family: 'Jomhuria', serif;
    font-size: 70px;
    color: var(--secondary-color);
}

.scoreController_scoreHardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: var(--secondary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.scoreController_difficultyHardLbl {
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--background-color);

}

.scoreController_scoreHardLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_timeHardLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_usernameHardLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_movesHardLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}


.scoreController_scoreMediumContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: var(--tertiary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.scoreController_difficultyMediumLbl {
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
}

.scoreController_scoreMediumLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--light-color);
}

.scoreController_timeMediumLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--light-color);
}

.scoreController_usernameMediumLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--light-color);
}

.scoreController_movesMediumLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--light-color);
}

.scoreController_scoreEasyContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    height: auto;
    background-color: var(--primary-color);
    border-radius: 10px;
    margin-bottom: 20px;
}

.scoreController_difficultyEasyLbl {
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--background-color);
}

.scoreController_scoreEasyLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_timeEasyLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_usernameEasyLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_movesEasyLbl {
    font-family: 'Jomhuria', serif;
    font-size: 40px;
    color: var(--background-color);
}

.scoreController_scoreHardButtonDown {
    width: 30px;
    height: 30px;
}

/* .elementContainer {
    display: flex;
    justify-content: flex-start;

} */