:root {
    --primary-color: #15616D;
    --secondary-color: #FF7D00;
    --tertiary-color: #78290F;
    --light-color: #FFECD1;
    --bacground-color: #001524;
    --navbar-height: 60px;
    --fade-color: rgb(0, 0, 0, 0.75);
    --card-normal: red;
    --card-show: rgb(13, 0, 255);
    --card-discocovered: rgb(9, 255, 0);

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Jomhuria', serif;
}

h1 {
    color: var(--primary-color)
}

h2 {
    color: var(--secondary-color)
}

.mainContainer {
    width: 100vw;
    height: 100vh;
}

.controllerContainer {
    width: 100%;
    height: cal(100% -var(--navbar-height));
    background-color: gray;
    top: var(--navbar-height);
    position: fixed;

}

.fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--fade-color);
    opacity: 0;
}

.elementContainer {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--bacground-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btnContainer {
    width: 80%;
    height: 80%;
    background-color: var(--blue-deep);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;


}

.subTittleMenu {
    font-family: 'Jomhuria', serif;
    font-size: 70px;
    color: var(--light-color);
}

.gamenBtn {
    /* /* width: 80%;
    height: 50px;
    background-color: var(--secondary-color);
    font-size: 25p, x;
    font-weight: bold;
    color: var(--light-color);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
            */
    margin-bottom: 45px;

    user-select: none;
    cursor: pointer;
}

.gameLoginBtn {
    margin-top: 5px;
    width: 80%;
    height: 50px;
    background-color: var(--secondary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gameLoginBtn:hover {
    background-color: #ed9b72;
    color: #292725;
    transition: 0.5s;



}

.gamePlayBtn {
    width: 80%;
    height: 150px;
    background-color: var(--primary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gamePlayBtn:hover {
    background-color: #3d929f;
    color: #292725;
    transition: 0.5s;
}

.gameDifficultyBtn {
    width: 80%;
    height: 50px;
    background-color: var(--light-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gameDifficultyBtn:hover {
    background-color: #805345;
    color: #292725;
    transition: 0.5s;
}


.gameScoresBtn {
    width: 49%;
    height: 50px;
    background-color: var(--tertiary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gameScoresBtn:hover {

    background-color: #784c37;
    color: #292725;
    transition: 0.5s;

}

.gameThemesBtn {
    width: 49%;
    height: 50px;
    background-color: var(--tertiary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gameThemesBtn:hover {
    background-color: #784c37;
    color: #292725;
    transition: 0.5s;

}

.gameCreditsBtn {
    width: 80%;
    height: 50px;
    background-color: var(--secondary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 10px;

    user-select: none;
    cursor: pointer;
}

.gameCreditsBtn:hover {
    background-color: #ed9b72;
    color: #292725;
    transition: 0.5s;



}

.hidden {
    display: none !important;
}

.div_btns {
    width: 80%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.scoresDisplay {
    width: 100%;
    height: 40%;
    position: relative;
    background: url('../assets/Map.jpg') center/cover no-repeat;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-content: start;
    justify-content: center;
    opacity: 0.5;

}

.scoresTitle {
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    font-weight: bold;
    color: var(--tertiary-color);

}

.firstPlaceHard {
    /* width: 90%; */
    width: 900wv;
    height: 120px;
    background-color: var(--secondary-color);
    border-radius: 20px;
}


.firstPlaceMedium {
    /* width: 90%; */
    height: 120px;
    background-color: var(--tertiary-color);
    border-radius: 20px;
}

.firstPlaceEasy {
    /* width: 90%; */
    height: 120px;
    background-color: var(--primary-color);
    border-radius: 20px;
}

.rudder_img {
    width: 100px;
    height: 100px;
}