.themesController_tittle {
    font-family: 'Jomhuria', serif;
    font-size: 70px;
    color: var(--secondary-color);
    margin-bottom: 20px;
}

.themesCharactersBtn {


    margin-top: 20px;
    margin-bottom: 20px;

    height: 100px;
    width: 320px;
    background-color: var(--primary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;

}

.themesCharactersBtn:hover {
    background-color: #3d929f;
    color: #292725;
    transition: 0.5;
}

.themesFlagsBtn {
    margin-bottom: 20px;
    height: 100px;
    width: 320px;
    background-color: var(--tertiary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
}

.themesFlagsBtn:hover {
    background-color: #784c37;
    color: #292725;
    transition: 0.5s;

}

.themesFruitsBtn {
    margin-bottom: 20px;
    height: 100px;
    width: 320px;
    background-color: var(--secondary-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--light-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;
}

.themesFruitsBtn:hover {
    background-color: #ed9b72;
    color: #292725;
    transition: 0.5s;

}

.themesShipsBtn {
    margin-bottom: 40px;
    height: 100px;
    width: 320px;
    background-color: var(--light-color);
    font-family: 'Jomhuria', serif;
    font-size: 50px;
    color: var(--tertiary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    user-select: none;
    cursor: pointer;

}

.themesShipsBtn:hover {
    background-color: #805345;
    color: #292725;
    transition: 0.5s;

}